/USART_TX_RX_STRINGS.X/dist/
/USART_TX_RX_STRINGS.X/build/
/2_PARPADEO_LEDS.X/dist/
/2_PARPADEO_LEDS.X/build/
/3_ADC.X/dist/
/3_ADC.X/build/
/4_LCD.X/build/
/4_LCD.X/dist/
/1_PasearLED.X/build/
/1_PasearLED.X/dist/